.miniprofile_playersection .player_content .persona,
.miniprofile_playersection .player_content .secondaryname {
    width: auto !important;
    overflow: visible !important;
}

.miniprofile_nameplatecontainer {
    width: 15rem !important;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
}

.miniprofile_detailssection{
    width: 15rem !important;
    margin-top: 2rem !important;
}

.player_content{
    font-size: 10pt !important;
}